{% extends "base.html" %}

{% block content %}



<h1 class="text-capitalize text-center mx-10 bg-success text-white">Liste des Utilisateurs</h1>
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{% url 'edit-user' user.id %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'delete-user' user.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>






{% endblock %}


